@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

#navbtn > Button, #submit-btn{
  background-color: black !important;
  color: white !important;
}

#navbtn > Button:hover, #submit-btn:hover{
  opacity: 0.8;
}